<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/development.css}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>store list</title>
</head>
<body>	
	<h1>店舗一覧</h1>
	<table border="1">
	  <tr>
		  <th>店舗ID</th>
		  <th>店舗名</th>
	  </tr>	
	  <tr th:each="store : ${storelist}" th:object="${store}">
		  <td th:text="*{id}"></td>
		  <td th:text="*{storeName}"></td>
	      <td><a th:href ="@{/store_detail/{id}(id=*{id})}">詳細</a></td>
      </tr>
	
	
	
	
	
	
	
	
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>